rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Allow only if the user is signed in.
      // For stricter security, you can check specific email:
      // allow read, write: if request.auth != null && request.auth.token.email == "YOUR_EMAIL@example.com";
      allow read, write: if request.auth != null;
    }
  }
}
